@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--pokemon-card-width: 15.625rem; /* 250px */
}

/* Scrollbar */
::-webkit-scrollbar {
	width: 0.4rem;
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(219, 219, 219, 0.557);
	border-radius: 0.2rem;
}
