@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--nav-height: min(10vh, 4rem);
	--footer-height: var(--nav-height);
	--main-height: calc(100vh - var(--nav-height) - var(--footer-height));
	--pokemon-card-width: 15.625rem; /* 250px */
	--toast-width: min(100%, 20rem);
	--accent-color: #e2e8f0;
}

html,
body {
	position: relative;
	overflow-y: hidden !important;
}

/* Scrollbar */
::-webkit-scrollbar {
	width: 0.4rem;
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(219, 219, 219, 0.557);
	border-radius: 0.2rem;
}
